{% extends 'core/base.html' %}

{% block title %} Welcome | {% endblock %}

{% block content %}
<div class="mt-4 px-4">
    <h1 class="font-raleway text-5xl md:text-6xl lg:text-8xl xl:text-9xl"> This page is under construction. </h1>
    <!-- <p class="mt-8 font-courierPrime text-xl"> Don't you dare complain if you happen to know the developer of this site. Did you really think it is that easy to do this work? <br> Do you know the time and effort that goes into building all this stuff? <br> I bet you don't. </p>
    <p class="text-xs font-poppins"> Serious note: Please do not disturb the construction workers. They are working hard and quite busy unlike you who couldn't even remember a password. </p> -->
</div>
{% endblock %}  